
#stock-page-container {
  display: flex;
  justify-content: center;
  margin: 4em 23em 0 0;

}

/* GRAPH */
#left-column-container {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
}

#stock-graph-container {
  margin: 0 auto;
  display: block;
  flex-direction: column;
}

#stock-graph-btns {
  display: flex;
  flex-direction: row;
  padding-bottom: .7em;
  border-bottom: 1px solid lightgray;
}

#stock-graph-btns button {
  margin: 0em 0.4em;
  background-color: #ffffff;
  border: 0px solid #ffffff;
  font-size: 14px;
  box-sizing: none;
  outline:none;
}

#stock-graph-btns button:active {
  box-sizing: none;
  outline:none;
}

.stock-ticker-container {
  line-height: 1em;
}

h1.company-name {
  font-weight: 500;
  font-size: 1.9em;
  margin-bottom: 0.8em;
  margin-top: .5em;
}

/* ABOUT INFO + NEWS */

#stock-specific-info {
  width: 800px;
  display: block;
  flex-direction: column;
  margin: 0 auto;
}

#about-stock h4 {
  font-weight: 500;
  font-size: 1.5em;
  padding-bottom: .7em;
  border-bottom: 1px solid lightgray;
}

.about-stock-table {
  width: 800px;
  margin-top: 2em;
}

.about-stock-table th {
  text-align: left;
  width: 200px;
  font-weight: 500;
  font-size: .9em;
}

#key-stats h4 {
  font-weight: 500;
  font-size: 1.5em;
  padding-bottom: .7em;
  border-bottom: 1px solid lightgray;
  margin-top: 2.2em;
}

.key-stats-table {
  width: 800px;
  margin-top: 2em;
  margin-bottom: 3em;
}

.key-stats-table th {
  text-align: left;
  width: 200px;
  font-weight: 500;
  font-size: .9em;
}


/* Buy Sell Component */
div.buy-sell-container {
  float: right;
  position: relative;
  display: flex;
  flex-direction: column;
}

.fixed-container {
  position: fixed;
  left: 68vw;
  height: 77vh;
  overflow-y: auto;
  /* display: block; */
}

section.buy-sell {
  display: block;
  padding: 20px;
  margin: .8em 2em;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgb(209, 209, 209);
  width: 250px;
  height: 360px;
}

.tab-header {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding-left: 0;
}

.tab-header > li {
  /* width: 100%; */
  padding: 5px;
  text-align: center;
  cursor: pointer;
  color: black;
  font-weight: 500;
  /* background-color: lightpink; */
}

.tab-header > li:first-child {
  /* background-color: #645b8c; */
  /* flex-grow: 3; */

}

.tab-header > li:last-child {
  /* flex-grow: 3; */
}

.tab-header > li:hover {
  /* background-color: lightblue; */
  color: #645b8c;
}

.tab-header > li.active {
  color: #645b8c;
  font-weight: bold;
  /* background-color: lightblue; */
  border-bottom: 2px solid #645b8c;
}

/* #tabs {
  width: 232px;
  margin-right: 0;
} */

.tab-content {
  /* font-weight: bold; */
  color: black;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: left; */
  /* background-color: lightblue; */
}

.transaction-labels, #transaction-stock-price, #transaction-estimate {
  font-weight: 500;
  font-size: 13.5px;
}

/* #transaction-stock-price */

.transaction-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5em 0;
  align-items: center;
}

hr {
  color: lightgray;
  opacity: 0.2;
}

.transaction-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
  border-bottom: 1px solid lightgray;

}

.transaction-btn button {
  background-color: #645b8c;
  color: white;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.transaction-btn button:hover, button#save-button:hover {
  background-color: #7268a0;
}

.transaction-btn button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

#available-shares, #buying-power {
  margin-top: 20px;
  text-align: center;
  color: #7268a0;
}

#shares {
  width: 30%;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 4px;
  text-align-last: right;
}

#shares:focus {
  outline-color: #7268a0;
}

/* WATCHLIST DROP DOWN */

button#add-to-list {
  color: #645b8c;
  border: 2px solid #645b8c;
  background-color: white;
  width: 80%;
  height: 50px;
  margin: 20px auto 0 15px;
  border-radius: 5px;
  text-justify: center;
}

button#add-to-list:hover {
  background-color: #645b8c20
}

span#add-plus {
  font-size: 1.5em;
}

span#add-txt {
  font-size: 1em;
}

section.watchlist-dropdown{
  display: block;
  margin: 0em 0em 0em 2em;

}

.watchlists-container {
  display: block;
  padding: 20px;
  margin: .8em 2em 2em 0em;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgb(209, 209, 209);
  width: 250px;
}

.watchlists-container a{
  text-decoration: none;
  color: #353535;
  display: flex;
  align-items: center;
}

.watchlists-list {
  margin-top: 0.5em;
}

.watchlist {
  margin-top: .5em;
  width: 100%;
}

.watchlist:hover {
  background-color: rgb(243, 243, 243);
}

button#save-button:disabled,
button#save-button[disabled] {
  background-color: grey;

}

button#save-button {
  border: none;
  background-color: #645b8c;
  color: white;
  width: 80%;
  height: 45px;
  margin: 20px auto 0 24px;
  border-radius: 5px;
}

button#cancel-button {
  border: none;
  outline: none;
  color: #353535;
  display: block;
  background-color: white;
  margin: 1em 0 0 7em;
}

button#cancel-button:hover {
  color: #35353580;
}

.choice-container {
  margin-left: 3em;
}

label > input[type="radio"] {
  display: none;
}

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

label > input[type="radio"]:checked + * {
  color: #645b8c;
}

label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#645b8c 0%, #645b8c 40%, transparent 50%, transparent);
  border-color: #645b8c;
}
/* span.radio-label{
  margin-left: 4em;
  text-decoration: none;
  color: #353535;

} */


@media screen and (min-width: 1466px) {
  #stock-page-container {
    margin: 4em 30em 0 0;
  }

  .fixed-container {
    left: 65vw;
  }
}

@media screen and (max-width: 1120px) {
  #stock-page-container {
    margin: 4em 0 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fixed-container {
    position: relative;
    left: 0;
    height: 600px;
  }
}

@media screen and (max-height: 1155px) {
  #stock-page-container {
    margin: 4em 0 25em 3em;
    display: flex;
    justify-content: center;

  }

  .fixed-container {
    margin-left: 60px;
    left: 65vw;
    position: sticky;
  }
}
