.login-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.login-img {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 50vw;
  /* flex-grow: 1; */
}

.login-img img {
  flex: 1 1 50%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.form-container {
  flex: 1 1 50%;
  height: 400px;
  margin: 0 52px;
  max-width: 460px;
  display: flex;
  align-items: center;
  margin-top: 20vh;
}

.login-form h3 {
  font-size: 21px;
}

.form-details {
  margin-bottom: 60px;
}

.form-details div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 39px;
  max-width: 640px;
}

.form-inputs label {
  padding: 9px 0;
  margin: 0 0 8px;
  font-size: 15px;
}

.form-inputs input {
  padding: 10px 12px;
  height: 100%;
  min-width: 100%;
  border: 1px solid #e4e9ed;
  border-radius: 5px;
}

.form-inputs input:hover {
  transition: border-color 200ms ease 0s;
}