#sidebar-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 22em;
  overflow: auto;
  border: 0px solid lightgray;
  box-shadow: 0px 0px 15px rgb(209, 209, 209);
  border-radius: 6px;
  padding: 1em 0em;
  margin: 1em 5em;
  left: 60vw;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
}

#sidebar-container a {
  text-decoration: none;
  color: black;
}

.sidebar-titles {
  font-size: 18px;
}

.smallChart {
  margin: 0.8em 1em;
}

.small-stock-container {
  width: 18em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em;
}

.small-stock-container:hover {
  background-color: rgb(238, 236, 236);
  background-size: 300em;
}

#shares-div {
  display: inline;
  width: 20px;
}

.sidebar-share {
  font-size: 12px;
  width: 5em;
  text-align: start;
}

.stock-line {
  border-bottom: 1px solid lightgray;
  margin: 1em 0em;
  width: 127%;
}

.watchlist-container p {
  text-align: left;
  width: 19em;
  padding: 1.5em 1.5em;
  margin: 0em;
}

.watchlist-container:hover {
  background-color: rgb(238, 236, 236);
  background-size: 100%;
}

.new-watchlist-form {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0em;
}

.new-watchlist button {
  font-size: 40px;
  margin: 0em 0em 0em 1em;
  border: 0em solid black;
  background-color: #ffffff;
  padding: 0em 0em;
}

.new-watchlist input {
  font-size: 16px;
  padding: 0em 1em 0em;
  border-radius: 4em;
  border: 2px solid gray;
}

.new-watchlist input:focus {
  outline-width: 0;
}
