nav {
  height: 64px;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
  top: 0;
}

#nav-list {
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
}

#nav-list li {
  display: inline;
  margin-top: 0em;
}

.logo {
  height: 2.3em;
}

#nav-search {
  margin: 0.4em 6em 0em 4em;
}

#nav-search input {
  width: 170%;
  padding: 0.6em 2em;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  color: rgb(148, 147, 147);
  margin-top: 0.45em;
}

.nav-options {
  position: absolute;
  margin-left: auto;
  right: 2.5em;
  margin-top: 0.47em;
}

#nav-logout button {
  background-color: transparent;
  border: 0px solid transparent;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 0 36px;
  font-family: objektiv-mk1, sans-serif;
}

#nav-signup {
  background-color: #645b8c;
  height: 48px;
  padding: 12px 40px;
  white-space: nowrap;
  border-radius: 35px;
  border: 1px solid transparent;
}

#nav-signup:hover {
  background-color: #5c5381;
  transition: 0.3s;
}

#nav-signup a {
  color: white;
  text-decoration: none;
}

#nav-home a,
#nav-portfolio a,
#nav-login a {
  margin: 0em 2em;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

#nav-home a:hover, 
#nav-portfolio a:hover,
#nav-login a:hover,
#nav-logout button:hover {
  color: #645b8c;
}

#nav-home .active,
#nav-portfolio .active,
#nav-signup .active,
#nav-login .active {
  color: black;
  text-decoration: none;
}


@media (max-width: 75em) {
  #nav-search input {
    visibility: hidden;
  }
}
